<%	include	../header	%>
		<script	src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
		<script>
			var socket = io("http://localhost:5000")

			socket.on('send-client', function(msg){
				var chat = document.getElementById('chat')
				console.log(msg)
				chat.innerHTML += msg;
			})

			var enviar = function(){
				var msg = document.getElementById('msg').value
				socket.emit('send-server', msg)
			}
		</script>
		<header>
				<h2>Ntalk	-	Chat</h2>
		</header>
		<section>
				<pre	id="chat"></pre>
				<input	type="text"	id="msg"	placeholder="Mensagem">
				<button	onclick="enviar();">Enviar</button>
		</section>
		<%	include	../exit	%>
		<%	include	../footer	%>