 <head>
		<meta charset="utf-8">
		<title>Ntalk - Agenda de contatos</title>
		<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.css">
	 	<!-- FONT AWESOME  CSS -->
    <link href="/stylesheets/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet" />
	</head>
