<h1>Notify</h1>
<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
<script type="text/javascript">
	var socket = io("http://localhost:5000") 
	console.log('<%= usuario %>')
	var notify = function(data){
		var id = 'notify_'+data.email
		var notify = document.getElementById(id)
		if (notify) {
			notify.textContent = data.msg;
		} 
	}

	socket.on('notify-onlines', function(email){
		notify({email: email, msg: "Online"})
	})

	socket.on('notify-offlines', function(email){
		notify({email: email, msg: "Offline"})
	})

	socket.on('new-message', function(data, dest, rem){
		console.log('remetente'+rem)
		console.log("destinatario"+dest)

		if ('<%= usuario %>' == dest) {
			notify({email: data.email, msg: "Mensagem"})
			alert("Você recebeu uma mensagem do "+data.email) 
			var chat = document.getElementById('chat_'+data.email);
			chat.href += '&sala='+data.sala
			
		}
		
	})
</script>