<html ng-app="ntalk">
	<head>
		<meta charset="utf-8">
		<title>Ntalk - Agenda de contatos</title>
		<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/dist/css/bootstrap.css">
	</head>
	<body>
		<% include ../header %>
		<div class="container">
			
			<div ng-view></div>
				<% include ../footer %>		
		</div>
	
	<script type="text/javascript" src="/vendor/angular/angular.js"></script>
	<script type="text/javascript" src="/javascripts/main.js"></script>
	</body>
</html>		