<header>
		<h2>Ntalk - Dados do contato</h2>

</header>
<section>
		<p><label>Nome:</label>{{ contato.nome }}</p>
		<p><label>E-mail:</label>{{ contato.email }}</p>
		<p>
		<button type="submit" ng-click="remove()">remover</button>
		</p>
</section>